[Unit]
Description=Infra service

[Service]
User=root
# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory=/home/pi/jenkins/build
#path to executable.
#executable is a bash script which calls jar file
ExecStart=infra-service/target/infra.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5